html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  color: #fff;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-radius: 8px;
  display: block;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 1.125rem;
}

.btn-subtle {
  background-color: #ccc;
  color: white;
  font-size: 1.125rem;
}

.btn-ghost {
  background-color: #ccc;
  color: white;
}

.btn:hover {

}

.btn-subtle:hover {

}

.btn-ghost:hover {

}

.btn-warning:hover {

}
